@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

#top-container {
  background-image: url("../../imgs/coffee-notes.jpg");
  background-size: cover;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -250px;
}

#ideation-img {
  width: 75%;
}
